:root {
  --main-color-light-blue: #88b2dc;
  --main-color-beige: #cabaa1;
  --main-color-font: #ffffff;
  --main-color-dark-blue: #304663;
  --font-menu: "Montserrat";
  --font-web-page: "Montserrat Extra-Light";
  --font-title: "Montserrat Extra-Bold";
}

body {
  margin: 0 !important;
  padding: 0;
}

#div_encabezado {
  background-color: var(--main-color-light-blue);
  height: 600px;
  width: 100%;
}

#div_nosotros {
  background-color: var(--main-color-beige);
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#div_equipo {
  background-color: var(--main-color-dark-blue);
  height: 1150px;
  display: flex;
  justify-content: center;
  align-items: normal;
  flex-direction: column;
}

#div_proyectos {
  background-color: var(--main-color-light-blue);
  height: 1300px;
  display: flex;
  align-items: normal;
  justify-content: center;
  flex-direction: column;
}

#div_contacto {
  background-color: var(--main-color-beige);
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*ENCABEZADO*/
/*Header*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo img {
  height: 80px;
  width: auto;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-left: 1rem;
}

.menu li:first-child {
  margin-left: 0;
}

.menu li a {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  font-family: var(--font-menu);
  font-size: 16px;
  font-weight: 500;
}

.menu li a:hover {
  color: black;
  transition: all 0.3s ease;
  border-bottom: 2px solid black;
  /* agregamos una rayita debajo */
}

.menu li a:active {
  background-color: #666;
  /* un color diferente cuando se selecciona */
  color: #fff;
}

#frase_oxisphere {
  color: var(--main-color-font);
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  /* para Extra Light */
  letter-spacing: 3px;
  font-size: 23px;
  margin-bottom: 0px;
  width: 465px;
}

#titulo_principal {
  color: var(--main-color-font);
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  width: 465px;
  font-size: 60px;
  margin-top: 16px;
}

.texto_encabezado {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 284px;
  width: auto;
  display: flex;
  align-content: flex-start;
  justify-content: center;
  flex-direction: column;
}

.contenedor_flecha {
  display: flex;
  align-items: center;
  justify-content: center;
}

/**************************/
/*PRESENTACION DE AGENCIA*/
.div_titulo {
  margin-top: 0px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nombre_empresa,
.somos_oxisphere,
.text_proyectos,
.text_contacto {
  color: var(--main-color-font);
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 55px;
  height: auto;
  margin: 0;
}

.descripciones {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text_descripcion_1 {
  margin-top: -15px;
  color: var(--main-color-font);
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  letter-spacing: 0px;
  font-size: 33px;
  margin-bottom: 0px;
  width: 435px;
  text-align: center;
}

.container_boton {
  margin-top: 40px;
}

.btn_solicitud {
  background-color: var(--main-color-dark-blue); /* Color de fondo del botón */
  border: none; /* Quitamos los bordes del botón */
  color: white; /* Color del texto del botón */
  padding: 10px 19px; /* Espacio interno del botón */
  text-align: center; /* Centramos el texto del botón */
  text-decoration: none; /* Quitamos la decoración de enlace del botón */
  display: inline-block; /* Hacemos que el botón sea un bloque en línea */
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 13px; /* Tamaño de fuente del texto del botón */
  margin: 4px 2px; /* Margen entre botones */
  cursor: pointer; /* Cambiamos el cursor al pasar sobre el botón */
  border-radius: 30px; /* Redondeamos las esquinas del botón */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* Agregamos una sombra al botón */
}

/**************/
/*SOMOS*/

.contenedor_somos, .div_titulo_proyectos {
  height: 220px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
}

.text_somos_1 {
  margin-top: 18px;
  color: var(--main-color-font);
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  letter-spacing: 0px;
  font-size: 20px;
  margin-bottom: 0px;
  width: 700px;
  text-align: left;
}

.contenedor_info_equipo, .contenedor_info_equipo_2{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.contenedor_info_equipo_3{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: inherit;
  flex-direction: row;
}

.equipo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.equipo_3{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
}


.foto_equipo{
  height: auto;
  width: 140px;
  border-radius: 50%;
}

.nombre_persona{
  color: var(--main-color-font);
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 18px;
}

.puesto_persona{
  color: var(--main-color-font);
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 15px;
  margin-top: -15px;  
}


/*****************/
/*PROYECTOS*/
.contenedor_proyectos{
  margin-top: -35px;
}

.proyectos{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly ;
  flex-direction: row;
}

.cont_proyectos{
  display: flex;
  align-items: center;
  justify-content: center;

}

.img_proyecto{
  height: auto;
  width: 330px;
  border-radius: 10%;
}

/**********************************************/
/*CONTACTO*/

.contenedor_texto_contacto{
  margin-top: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagen_contacto_logo{
  height: auto;
  width: 400px;
}

.contenedor_informacion_contacto{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.informacion_contacto, .ubicacion_contacto{
  color: var(--main-color-dark-blue);
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}


.icono{
  width: 15px;
  height: auto;
}



/*RESPONSIVE*/
@media screen and (max-width: 768px) {
  #titulo_principal {
    width: 300px;
    font-size: 39px;
    margin-top: 16px;
  }

  #frase_oxisphere {
    width: 300px;
  }

  #div_encabezado {
    background-color: var(--main-color-light-blue);
    height: 600px;
    width: 100%;
  }

  .texto_encabezado {
    width: auto;
    margin-left: 40px;
  }

  .menu {
    display: none;
    text-align: center; /* agregamos centrado de texto */
  }

  .menu-responsive {
    display: block;
    position: relative;
    text-align: right; /* agregamos alineación a la derecha */
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0rem;
    cursor: pointer;
    z-index: 1; /* agregamos un índice z para asegurarnos de que esté por encima de otros elementos */
  }

  .menu-icon span,
  .menu-icon span::before,
  .menu-icon span::after {
    content: "";
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
    transition: all 0.3s ease-in-out;
  }

  .menu-icon span::before {
    transform: translateY(-8px);
  }

  .menu-icon span::after {
    transform: translateY(8px);
  }

  .menu-icon.open span {
    transform: rotate(45deg);
  }

  .menu-icon.open span::before {
    transform: translateY(0) rotate(90deg);
  }

  .menu-icon.open span::after {
    transform: translateY(0) rotate(-90deg);
  }

  .menu li {
    margin-left: 0; /* cambiamos a 0 para centrar los elementos */
    margin-bottom: 0.5rem;
    display: inline-block; /* agregamos para que los elementos se muestren en línea */
  }

  .menu li a {
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    font-family: var(--font-menu);
    font-size: 16px;
    font-weight: 500;
  }

  .menu li a:hover {
    color: black;
    transition: all 0.3s ease;
    border-bottom: 2px solid black;
  }

  .menu li a:active {
    background-color: #666;
    color: #fff;
  }
}
